{% extends 'base.html' %}

{% block title %} New User {% endblock %}

{% block body %}
<header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">APP</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href=" {{ url_for('index') }}">Home</a>
            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
            <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
          </nav>
        </div>
      </header>

<h1>You are all set! click <a class="text-danger" href="{{ url_for('login') }}">here</a> to Log In</h1>
{% endblock %}